:root {
  font-family: 'Poppins', sans-serif;
}
/* remove margins and borders */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* sticky nav-bar */
.navbar {
  display: flex;
  align-items: center;
  height: 60px;
  z-index: 1;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}
/* logo */
.logo {
  flex: 3;
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 0 0 25px;
  font-size: 27px;
  color: #3455DB;
  text-shadow: 3px 3px 1px rgb(233, 233, 233);
}
/* nav-items to the right */
.nav-container, .nav-items {
  flex: 1;
  display: flex;
  align-items: center;
}
/* remove link underlines */
a {
   text-decoration: none;
}
/* remove bullet-list and space-out */
.why, .how, .tell-us {
  flex: 1;
  display: block;
  list-style: none;
}
.sidebar {
  display: flexbox;
  background: #e8f9fc;
  height: 100%;
  width: 100%;
  transition: width 0.4s ease-in-out;
}
.sidebar:hover {
  width: 15vw;
  background: #abf0fc;
}
.content {
  grid-area: content;
  display: grid;

}
.footer {
  grid-area: footer;
  border: 1px solid blue;
}
span {
  font-weight: 600;
}
.flex-container {
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  padding: 8px;
  border: 1px solid red;
}
.crop-box {
  display: flex;
  overflow: hidden;
}
.main-picture {
  max-width: 100%;
}
.flex-item {
  width: 227px;
  min-height: 400px;
  padding: 13px;
  font-size: 14px;
  text-align: center;
  background-color: white;
}
.title {
  display: inline-block;
  text-decoration: underline;
  padding: 8px 0px 10px 0px;
  font-weight: 600;
}
.specs {
  display: inline-block;
  text-align: left;
  list-style-type: none;
  padding-left: 0;
  font-weight: 300;
}