:root {
  font-family: 'Montserrat', sans-serif;
}
span {
  font-weight: 600;
}
.flex-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
}
.crop-box {
  display: flex;
  overflow: hidden;
}
.main-picture {
  max-width: 100%;
}
.flex-item {
  width: 225px;
  padding: 13px;
  font-size: 14px;
  text-align: center;
}
.title {
  display: inline-block;
  text-decoration: underline;
  padding: 8px 0px 0px 0px;
  font-weight: 600;
}
.specs {
  display: inline-block;
  text-align: left;
  list-style-type: none;
  padding-left: 0;
  font-weight: 300;
}
